{%- extends "layout.html" -%}
{%- block title %}{{post.title}}{% endblock %}

{%- block document %}
<div class="hentry">
  <h1 class="entry-title">{{post.title}}</h1>
  {%- if post.description %}
  <blockquote class="entry-description">{{post.description}}</blockquote>
  {%- endif %}
  <div class="entry-content">{{post.html|more|codeline}}</div>

  <footer class="entry-meta post clearfix">
    <span class="tags"><a href="../tag">Tags</a>:
      {%- for tag in post.tags %}
      {% if loop.index != 1 %}, {% endif %}
      <a href="/tag/#{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </span>

    <time datetime="{{post.pubdate|xmldatetime}}">
      <a href="../{{ post.pubdate|date('Y') }}">{{ post.pubdate|date('Y年') }}</a>{{ post.pubdate|date('m月d日') }}
    </time>
  </footer>
    <section>
      <div id="disqus_thread"></div>
      <noscript>
        要查看或参与评论，请启用 JavaScript 支持。<br />
        Please enable JavaScript to view the <a href="https://github.com/hotoo/blog/issues">comments powered by Gitment.</a>
      </noscript>
    </section>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script type="text/javascript">
    // var gitment = new Gitment({
    //   id: disqus_identifier, // 可选。默认为 location.href
    //   owner: 'hotoo',
    //   repo: 'blog',
    //   oauth: {
    //     client_id: '2ac185fc670562ffa0aa',
    //     client_secret: '248f4f2d70ed28b1e3e70113db27d46067a981a8',
    //   },
    // });
    // // gitment.render('disqus_thread');


    {% if post.disqus_identifier %}
    // var disqus_identifier = "{{ post.disqus_identifier }}";
    {% else %}
    // var disqus_identifier = "{{ permalink_url(post) | disqus_identifier }}";
    {% endif %}
    // var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    // dsq.src = 'http://hotoo.disqus.com/embed.js';
    // (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  </script>
</div>
{% endblock -%}
