@charset "utf-8";

/**
 * search.css
 *
 * @author 闲耘™ (hotoo.cn[AT]gmail.com)
 * @version 2013/10/27
 */
#container{position:relative;}
#cse table,
#cse table th,
#cse table td{
  border:0 none;
}
#container table:hover {
  -moz-box-shadow: 0 0 8px #666!important;
  -webkit-box-shadow: 0 0 8px #666!important;
  box-shadow: 0 0 8px #666!important;
}

.gsc-search-box{width:600px; border:0 none;}
.gsc-search-box td{border:0 none; padding:0; margin:0;}
.gsc-search-box td:hover{border:0 none;}
.gsc-input{width:300px; padding:3px 4px; font:1em/1 Helvetica,Tahoma,Arial,\5b8b\4f53,sans-serif;}
.gsc-resultsHeader{display:none;}
.gsc-branding{position:absolute; bottom:30px; right:0; border:0 none; margin-top:2em;}
.gsc-branding td{border:0 none; padding:0; margin:0;}
.gsc-branding td:hover{border:0 none;}
.gsc-search-button{padding:3px 5px; font-size:1em;}

/* search content body */
.gsc-wrapper b{background:#FFEEAA none; padding:2px 3px;
  -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
}
.gs-snippet b{font-weight:normal;}
.gsc-tabsAreaInvisible,
.gs-visibleUrl-short,.gs-watermark{display:none;}
.gs-visibleUrl-long{color:#0E774A; font-size:.8em;}

/* search page nav */
.gsc-cursor:after{content:"\0020"; display:block; height:0; clear:both;}
.gsc-cursor{zoom:1;}
.gsc-cursor div{
  float:left; display:table; border:1px solid #ccc;
  width:24px;
  line-height:24px;
  overflow:visible;
  margin:2px;
  padding:2px 4px;
  vertical-align:middle;
  text-align:center;
  white-space:nowrap;
  -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
}
.gsc-cursor-current-page{
  background:#ddd none;
}
.gsc-cursor-page{
  background:none repeat scroll 0 0 #f6f6f6;
  border:1px solid #ccc;
  line-height:16px;
  text-decoration:none;
  text-shadow:0 1px 0 #FFFFFF;
  cursor:pointer;
  color:#03c;
}
.gsc-cursor-page:hover{
  -moz-use-text-color -moz-use-text-color #DDDDDD;
  border:1px solid #999;
  background:#f6f6f6 none;
  text-decoration:none;
  -moz-box-shadow:4px 4px 4px #333;
  -moz-box-shadow:0 0 8px #666; -webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
}
