html,body{font-family:Georgia,Times,sans-serif,Arial,Verdana,Helvetica; font-size:18px; margin:0; padding:0; line-height: 130%;}

#wrapper{width:960px; height:100%; margin:0 auto;}
nav{width:100%; margin:0 auto; left:0; top:0;}
    nav ul{list-style-type:none; margin:0; padding:0; height:37px; overflow:hidden;}
    nav ul:after{content:"\0020"; display:block; height:0; clear:both;}
    nav ul{zoom:1;}
        nav ul li{list-style-type:none; margin:0 0 0 0px; padding:0; float:left; background:transparent url(bg/bg_topSearch3.gif) no-repeat scroll -5px 0; border-left:0px solid #dedede; height:37px;}
        nav ul li.first{background-position:0 0;}
        nav ul li.last{background-position:right 0;}
        nav ul li.actived, #main-nav ul li:hover{background-image:url(bg/bg_topSearch3-on.gif);}
            nav ul li a{text-decoration:none; color:#666; margin:0; height:37px; line-height:35px; padding:0 16px; display:block;}
            nav ul li.actived a{color:#f60; padding:0 24px; font-weight:bold;}

#searchbox input{font-size:1.2em; margin:2px 0;}
#input_search{border-width:1px; border-style:solid; border-color:#999 #ddd #ddd #999; padding:2px;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
#input_search:focus{border:2px solid #73A6FF;}

#container{width:100%; margin:0 auto; font-size:1.0em;}
body::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
del::selection,
div::selection,
span::selection,
address::selection,
p::selection,
ul::selection,
li::selection,
dl::selection,
dt::selection,
dd::selection,
pre::selection,
blockquote::selection,
code::selection,
sup::selection,
sub::selection,
small::selection,
th::selection,
td::selection,
a::selection,
b::selection,
strong::selection{background-color:#f60; color:#fff;}

body::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
del::-moz-selection,
div::-moz-selection,
span::-moz-selection,
address::-moz-selection,
p::-moz-selection,
ul::-moz-selection,
li::-moz-selection,
dl::-moz-selection,
dt::-moz-selection,
dd::-moz-selection,
pre::-moz-selection,
blockquote::-moz-selection,
code::-moz-selection,
sup::-moz-selection,
sub::-moz-selection,
small::-moz-selection,
th::-moz-selection,
td::-moz-selection,
a::-moz-selection,
b::-moz-selection,
strong::-moz-selection{background-color:#f60; color:#fff;}

h1, h2, h3, h4, h5, h6 {font-family:"Trebuchet MS",serif; margin:.5em 0; line-height:1.2em;}
h1{font-size:1.6em; border-bottom:1px solid #eee;}
h2{font-size:1.4em; font-weight:normal; border-bottom:1px solid #eee; margin-top:1.5em;}
/*h2:first-letter{font-size:1.25em; font-weight:bold;}*/
h3{font-size:1.2em; font-weight:normal; }
h4{font-size:1.1em;}
h5{font-size:1.1em;}
h6{font-size:1.0em;}
/*h1:after{content:'¶'; color:#999;}*/
h2:after{content:'¶¶'; color:#999;}
h3:after{content:'¶¶¶'; color:#999;}
h1:after, h2:after, h3:after{display:none;}
h1:hover:after, h2:hover:after, h3:hover:after{display:inline;}

h1 a.title-permalink{
  color: #fff;
  background-color: #fff;
  padding:0 8px;
  -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
h1:hover a.title-permalink{
  color: #5784bf;
  background-color: #eee;
}

address{display:inline;}
p, pre, blockquote, table, ul, ol, dl{margin:.8em 0;}
p{line-height:1.5em;}
ul,ol{margin-left:2em; padding-left: 0.5em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li{margin:0.3em auto; line-height:1.4em;}
dt {font-weight: bold;}
img {
  border:1px solid #f6f6f6; padding:5px; margin: 1em auto;
  display:block;
  -moz-box-shadow:0 0 8px #f8f8f8; -webkit-box-shadow:0 0 8px #f8f8f8; box-shadow:0 0 8px #f8f8f8;
  -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
a:hover img{
    -moz-box-shadow:0 0 12px #333; -webkit-box-shadow:0 0 12px #333; box-shadow:0 0 12px #333;
}
/*pre {border-left: 1px solid #ccc; margin-left: 2em; padding-left: 0.5em;}*/
pre{
    margin:.5em; padding:5px;
    /*word-wrap:break-word; word-break:break-all;*/
    /*white-space:nowrap;*/
    overflow:hidden;
    background:#f8f8f8 none;
    border-width:1px 0 1px 3px; border-style:solid; border-color:#eee;
    /*-moz-box-shadow:2px 2px 8px #666; -webkit-box-shadow:2px 2px 8px #666; box-shadow:2px 2px 8px #666;*/
    -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
    line-height:1.5em; font-family:"Courier New","\5B8B\4F53"; font-size:.9em;
}
pre:hover{
    overflow:auto;
    padding-bottom:1em\9;
}
code{
  font-family:"Courier New","\5B8B\4F53";
  background:#f8f8f8 none;
  border:1px dashed #ccc;
  padding:2px 5px;
  -moz-border-radius:4px;
  -khtml-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  white-space:nowrap;
}

/* codes line start {{{ */
div.codes{background:#eee; margin:3px 0; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
div.codes:after{content:"\0020"; display:block; height:0; clear:both;}
div.codes{zoom:1;}
div.codes div{margin:0; padding:0; background:#eee;}
div.codes pre{margin:0; padding:0; border:0 none;}
div.codes div.code{float:left; width:100%;}
pre code{
  padding:0;
  font-family:"Courier New"; border:0 none;
  white-space:pre;
}
div.codes pre.line{text-align:right; float:left; width:4em; margin-left:-100%; background:#eee none; border-right:1px solid #ccc;
-moz-border-radius:4px 0 0 4px;
-khtml-border-radius:4px 0 0 4px;
-webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:0;
-webkit-border-bottom-right-radius:0; -webkit-border-bottom-left-radius:4px;
 border-radius:4px 0 0 4px;
}
  div.codes div.code pre{padding-left:4em;}
  div.codes pre.line{width:3em;}
	div.codes pre.line a{display:inline-block; padding:0 5px; color:#999;}

code.keyword{font-weight:bold; color:blue;}
code.string{color:green;}
/* }}}codes line */

blockquote{
    margin:.5em 1em; padding:1em 64px; line-height:1.5em; min-height:50px;
    border-width:0; border-color:#ccc; border-style:solid;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
    background-color:#eee; background-image:url(bg/testy-quote-open.gif),url(bg/testy-quote-close.gif);
    background-position:left top,right bottom;
    background-repeat:no-repeat;
    background:#eee url(bg/testy-quote-open.gif) no-repeat\9;
}

#container table{border-collapse:collapse; border-spacing:0;
    border-width:1px 0 0 1px; border-style:solid; border-color:#ccc;}
#container table:hover{
    -moz-box-shadow:0 0 8px #666; -webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
}

    th, td{border-width:0 1px 1px 0; border-style:solid; border-color:#ccc; padding: 0.3em; vertical-align:top;}
    th{background-color: #f0f0f0;}

hr {
  /*border: none; border-top: 1px solid #ccc; width: 100%;*/
  height: 60px;
  border: none;
  background: transparent url(bg/line-w.png) no-repeat center 0;
}
del{text-decoration:line-through; color: #777777;}

dl{margin:3px 0;}
dt{font-weight:bold; margin:5px 0;}
dd{line-height:1.3em; margin:5px 2em;}

a{color:#002BB8; text-decoration:none;}
a:hover{text-decoration:underline;}
article a[href^="http://"],
article a[href^="https://"]{background:transparent url(bg/popout.png) no-repeat scroll right 0; padding:0 18px 0 0;}
article a[target="_self"],
article a[rel="internal"]{background-image:none!important;}

h1 a{
  color:#333;
}

.clearfix:after{content:"\0020"; display:block; height:0; clear:both;}
.clearfix{zoom:1;}
footer.post{
  background:#eee;
  background:-webkit-gradient(linear, left top, left 60%, from(#f8f8f8), to(#eee));
  box-shadow:0 0 8px #999;
  border:0 none;
  border-radius: 18px;
  padding:5px 20px;
  margin:10px 0;
  position:relative;
  /*height:25px;*/
}
footer.post time{
  float:right;
  /*position:absolute;*/
  /*right:15px;*/
  display:block;
}
footer.post span.tags{
  float:left;
  /*position:absolute;*/
  /*left:15px;*/
  display:block;
}

div.toc{border:1px solid #ccc; background:#f8f8f8; float:right; padding:3px;
    -moz-box-shadow:0 0 8px #666; -webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
    div.toc ul{margin:0; padding:0 0 0 1em; *padding:0;}
    div.toc>ul{padding:0;}
    div.toc ul ul{*padding:0 0 0 8px;}
    div.toc li{list-style-type: none; margin:0; padding:0 0 0 18px; background:transparent url(bg/folder.png) no-repeat; font-size:.9em;}

.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}


/* disqus comments */
#disqus_thread{background:#f6f6f6 none; border-top:1px solid #ddd; padding:10px; -moz-border-radius:0 0 10px 10px; -khtml-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px;}
#dsq-content .dsq-trackback-url{width:90%;}
span.comment-count,
a.comment-count{color:#96B196; padding:0!important; background:transparent none!important; line-height:1.2em;}
span.comment-count{font-size:.6em; vertical-align:super;}
a.comment-count{}

footer{border-width:1px 0 0; border-style:solid; border-color:#ccc; background:#fff none; color:#999; text-align:right; margin:0; padding:5px; display:block;}
    footer p{margin:0; padding:0; font-size:.75em;}
    footer a{color:#333; margin:0 5px;}

#status-bar{position:fixed; bottom:5px; right:5px;}
#count{}
#helper-box{
    display:none;
    position:fixed; top:0; left:0;
    width:100%; height:100%;
    background:#666 none;
    -moz-opacity:.8; opacity:.8; -ms-filter:"alpha(opacity=80)"; filter:alpha(opacity=80); zoom:1;
}
#helper{
    display:none;
    position:fixed; top:100px; left:50%;
    width:600px; margin-left:-300px;
    background:#fff none;
}
#helper table{width:100%; margin:0;}

ul.tags-cloud,
ul.tags-cloud li{
  list-style-type:none;
}
ul.tags-cloud{
  margin:15px 0;
}
ul.tags-cloud li{
  float:left;
  padding:5px 8px;
  margin:5px;
  background:-webkit-gradient(linear, left top, left 60%, from(#f8f8f8), to(#eee));
  box-shadow:0 0 8px #999;
  border:0 none;
  border-radius: 18px;
}
ul.tags-cloud li a{
  display:block;
}
ul.tags-cloud li.active{
  background:ccc;
  background:-webkit-gradient(linear, left top, left 60%, from(#eee), to(#ccc));
  box-shadow:0 0 32px #000;
}
ul.tags-cloud li.active a{
  cursor:default;
  text-decoration:none;
}

div.post{
  /*background:#f8f8f8;*/
  -moz-border-radius:16px; -khtml-border-radius:16px; -webkit-border-radius:16px; border-radius:16px;
}
